.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 50;
  padding: 3rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.navLink {
  font-size: 0.875rem;
  color: white;
  text-decoration: none;
  text-transform: lowercase;
  transition: color 0.2s ease;
}

.navLink:hover {
  color: rgba(255, 255, 255, 0.7);
}